@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@300;400;500;700&display=swap");
@import url(../fonts/TTHoves-Regular.ttf);
@import url(../fonts/TTHoves-Medium.ttf);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@300;400;500;700&display=swap");
@import url(../fonts/SF-Pro-Display-Black.otf);
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact-us__title {
  margin-bottom: 22px;
}

.contact-us__flex-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
.contact-us__flex-container .contact-us__flex-inputs {
  min-width: 391px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-us__flex-container .contact-us__flex-inputs .text-field {
  width: 100%;
  min-height: 46px;
  background-color: rgb(243, 243, 243);
  padding-left: 21px;
  border: 0;
}
.contact-us__flex-container .contact-us__flex-inputs .message {
  min-height: 147px;
  background-color: rgb(243, 243, 243);
}
.contact-us__flex-container .contact-us__flex-inputs input {
  outline: none;
}
.contact-us__flex-container .contact-us__flex-inputs textarea {
  outline: none;
  margin-top: 14px;
}
.contact-us__flex-container .contact-us__flex-item {
  max-width: 749px;
  max-height: 371px;
}
.contact-us__flex-container .contact-us__flex-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-us__button {
  display: flex;
  justify-content: flex-start;
  margin-top: 77px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .contact-us__title {
    font-size: 6rem;
  }
  .contact-us__container {
    padding: 1.875rem;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .contact-us__title {
    font-size: 3rem;
  }
  .contact-us__container {
    padding: 1rem;
  }
  .contact-us__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 424px) {
  .contact-us__title {
    font-size: 2rem;
  }
  .contact-us__container {
    padding: 1rem;
  }
  .contact-us__flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 390px;
    justify-content: center;
  }
  .contact-us__flex-container .contact-us__flex-inputs {
    min-width: 288px;
    max-width: 343px;
    display: flex;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  max-width: 1440px;
  height: 102px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container-header {
    padding: 0 10px;
  }
}

header .nav {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
header .nav__logo {
  margin-left: 8em;
}
@media (max-width: 760px) {
  header .nav__logo {
    margin-left: 0;
  }
}
header .nav nav {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
}
header .nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.2em;
  color: #333;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 760px) {
  header .nav a {
    display: none;
  }
}
header .burger {
  margin-bottom: 20px;
  display: none;
  margin-top: 2rem;
}
@media (max-width: 760px) {
  header .burger {
    display: block;
  }
}

.project-lorum {
  display: flex;
  width: 1170px;
  height: 465px;
  margin-top: 60px;
  justify-content: space-between;
  background-color: rgba(196, 196, 196, 0.1882352941);
}
.project-lorum .project__left {
  margin: 32px;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}
.project-lorum .project__left .lorum-2 {
  margin-left: 30px;
  margin-top: 20px;
}
.project-lorum .project__left .lorum-3 {
  position: absolute;
  margin-top: 300px;
}
.project-lorum .project__right {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-right: 92px;
}
.project-lorum .project__right .project__title {
  height: 64px;
  width: 168px;
  font-size: 4em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #BDBDBD;
}
.project-lorum .project__right .project__subtitle {
  height: 200px;
  width: 400px;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
}
.project-lorum .project__right .button-project {
  width: 222px;
  height: 71px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.main__content {
  width: 1170px;
  height: 268px;
  margin-bottom: 10px;
}
.main__content h1 {
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #BDBDBD;
  margin-bottom: 10px;
  display: flex;
  width: 881px;
  height: 65px;
  margin-bottom: 10px;
}
.main__content .main__content-text {
  display: flex;
  justify-content: space-between;
}
.main__content .main__content-text .main__blok1 {
  width: 413px;
  height: 144px;
  display: flex;
  justify-content: flex-start;
}
.main__content .main__content-text .main__blok1 .main__blok-text1 {
  display: flex;
  width: 104px;
  height: 140px;
  font-size: 10em;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: rgba(189, 189, 189, 0.5921568627);
  align-items: center;
}
.main__content .main__content-text .main__blok1 .main__blok-text2 {
  width: 249px;
  height: 144px;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.main__content .main__blok2 {
  width: 500px;
  height: 144px;
  display: flex;
  justify-content: flex-start;
}
.main__content .main__blok2 .main__blok-text3 {
  display: flex;
  width: 104px;
  height: 140px;
  font-size: 10em;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: rgba(189, 189, 189, 0.5921568627);
  align-items: center;
}
.main__content .main__blok2 .main__blok-text4 {
  width: 390px;
  height: 144px;
  display: flex;
  justify-content: flex-start;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}/*# sourceMappingURL=main.css.map */